*{ font-family: "微软雅黑"; font-size: 13px;}
.input_width{ width: 90%; margin: 5px 0;}
.form_width{ width: 25%; height: 40px; border: 1px solid #e5e5e5;}
.msg{ text-align: right; }
.gly_size {
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    color: #000000
}
.span_title{ display: inline-block; vertical-align: middle; font-size: 14px;}
.cover{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 1; display: none;}
.text_area{ width: 95%; height: 65px !important; resize: none; margin: 8px 0;}
#pop_box  td{ padding:0}

#page-wrapper{ margin-top: 82px !important;}
#content-main{ padding-top: 0 !important;}