*{ font-family: 微软雅黑}
.headerbar{background: #FFFFFF;padding: 5px 0; position: fixed; top:0; width: 100%}
.cuntomer_warp{ width: 800px; margin: 0 auto}
.cuntomer_warp_info{width: 800px; margin: 0 auto;padding-top: 30px}
.close_item{float:left;}
.btn_group{float:right}
.cuntomer_title h3{ font-size: 18px;margin: 0;padding: 0; display: inline-block}
.closeicon{  font-size: 16px;cursor: pointer; line-height: 30px}


/*.check_title{ display: flex; flex-direction: row;justify-content: flex-start; padding: 4px 0;}*/
.check_title{padding: 4px 0;overflow: hidden;}
.check_title ul{ margin:0px!important; padding: 0;overflow: hidden}
.check_title ul li{ float: left; width:100px;color:#666;margin-bottom: 5px;}
.check_right{max-width: 850px;float: left}
.check_left{margin-right: 15px;min-height: 21px;line-height: 21px;max-height: 49px;color: black;margin-left: 10px;float: left;display: table-cell}
.sitem>a{color:#3C8EE9}
.sitem>a:hover{color:#317ACB }
.sitem>.img{text-align: center;}
.sitem>.img>img{width: 100%;height: 100%}
.check_title>div{overflow: hidden;margin-bottom: 5px}
.skin-minimal{display: table-cell}


.product{ padding-top: 20px; margin-bottom: 10px}
.product i{ font-size: 20px;color: #00a2d4; margin-right: 3px;}
.product span{ font-size: 24px;}
/*.man{ display: flex; flex-direction: row; justify-content: flex-start;  }*/
.man{ display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */}
.man .sitem{ padding-right: 20px ;}
.man .img{ width: 60px; height: 60px; margin-left: 30px;}
.baba{display: block; font-size: 14px; margin-bottom: 12px;}
.mama{ margin-right: 10px;}
.selec{ outline: none; border: 1px solid #e5e5e5; width: 120px; height: 30px;line-height: 24px; margin-top: 5px; border-radius: 5px;padding: 3px;text-align: center; margin-right: 15px;}

/*
概况*/
.over_left{width: 450px;float: left}
.over_right{width: 300px;float: right}
/*概况左*/
.customer_info,.team_member{border: 1px solid #dbdce0;margin-bottom: 20px}
.small_title{font-size: 14px;padding: 10px;background-color: #F8F8F8;border-bottom: 1px solid #dbdce0}
.cuntomer_warp .fa{width: 20px;height: 20px;color: white;font-size: 14px;text-align: center;line-height: 20px;border-radius: 4px;margin-right: 5px}
.fa-file-text-o{background-color:#7766CC;}
.over_info,.mem_info{padding: 10px 20px 10px 40px;}
.team_member a:hover{color:#3C8EE9}
.over_info>div{margin-bottom: 10px}
.over_left label{color: #999;width: 78px;margin: 0px!important;font-weight: normal}
.info_txt{display: inline-block;}
.fa-commenting,.fa-user-circle{background-color:#8BC34A}
.editor_txt{border: 1px solid #dbdce0;height: 100px}
.editor label{width: 60px}
.editor{padding-bottom: 20px;border-bottom: dashed 1px #e5e5e5 }
.follow_info{overflow: hidden}
.time{color: #999;magin-right:8px;}
.option{margin-left: 8px}
.circle{background-color: #999;border-radius: 50%;width: 5px;height: 5px;display: inline-block}
.flow_line{height: 18px;width: 2px;border-left: solid 1px #999;margin-left: 2px;margin-top: -5px;margin-bottom: -10px}
.follow_content{height: 150px;overflow:auto;margin-top: 30px}
/*概况右*/
.fa-user-plus,.fa-bell,.fa-chain,.fa-address-book-o{background-color: #F6A01A}
.fa-angle-right{color: #999}
.find_all:hover>.fa-angle-right{color:#3C8EE9}
.plus{margin: 20px 20px 20px 0px}
.add{border: solid 2px #3C8EE9;color:#3C8EE9;font-size: 24px;padding: 5px 12px}
/*.add:hover,.find_all:hover{color:#3C8EE9;}*/
.find_all{float: right;color:#999}
.add_peo{text-align: center;padding-top: 10px}
.add_peo>a{border: 1px solid #dbdce0; line-height: 28px;padding: 5px 15px;border-radius: 5px;}
/*.add_peo>a:hover{color:#3C8EE9;}*/
.mem_info ul{padding: 6px 0px}
.mem_info .line{border-bottom: dashed 1px #e5e5e5;margin-left: -15px}
.mem_info ul li{list-style: disc}
.none{text-align: center;padding: 10px 0px}


/*联系人 销售机会*/
.tab_content{border: solid 1px #e5e5e5}
.fa-newspaper-o,.fa-calendar-check-o,.fa-handshake-o{background-color: #F6A01A}
.tab_table{padding: 10px;}
.tab_table table{width: 100%}
.tab_table>table>thead>tr>th{text-align: center}
/*.contact_table>table>thead>tr{    background-color: #f4f8fe;height: 35px;line-height: 35px;}*/


.upload{border: dotted 2px #e5e5e5;min-height: 120px;width: 100%;padding: 10px}
.up_add,.up_delete{float:left;height: 92px;width: 92px;text-align: center;border: solid 1px #3C8EE9;padding-top: 20px;margin-right: 10px}
.up_add a{color: #3C8EE9;}
.up_add a:hover{color: #3C8EE9}
.upload_info{border: dotted 2px #e5e5e5;height: 100%;width: 100%;padding: 10px;margin-top: 10px}
.upload_info a{color:#3C8EE9 }
.upload_info .delete{margin-left: 10px}
.upload_info ul li{margin: 10px}
.store_img{float:left;}
.store_img img{width: 92px;height: 92px;margin-right: 10px}
.delete:hover,.download:hover{color:#3B81D0 }

/* 富文本编辑*/
#editx .fa,#edity .fa{ color:#000!important; margin: 0!important; padding: 0!important; }

.froala-editor{ border: 1px solid #e5e5e5!important;}
.new_gcinfo{ padding:0 10px;}
.froala-editor.f-basic .fr-bttn{ margin: 0 3px!important;}
.froala-editor button.fr-bttn, .froala-editor button.fr-trigger{ width: auto!important;}
.froala-element.f-basic{ border: 1px solid #e5e5e5!important; height: 80px;}


/*评论*/
.comchoose{ padding: 0 10px; margin: 10px 0 0 0}
#comment{ margin-top: 20px;}
.comment_area{ padding: 0 10px;padding-bottom: 20px;}
.comman{ float: left}
.comman img{ width: 40px; height: 40px;}
.comman_right,.replayRigth{ float: left; margin-left: 10px;}
.comman_left{ float: right; margin-right: 10px; font-size: 12px; color: #777}
.comman_right h5{ margin: 6px 0px;color:#777; font-size: 12px;}
.comman_right h6{ color:#777;font-size: 12px;}
.comment_chat{ margin-top: 12px; border:none; resize:none}
.last_comment li{ float: left; margin-left: 10px; }

.comt_item{ border: 1px solid #e5e5e5; padding: 10px ; margin-bottom: 8px;}
.last_comment a{ color: #666!important;  padding: 3px 5px;}
.last_comment a .fa{ color: #666!important;}
.reply-list{ background: #f6f6f6;margin-top: 10px; padding: 10px 15px 10px 10px; display: none;  margin-bottom: 10px;}
.reply-list-show{ display: block}
.reply-img{float: left}
.reply-img img{ width: 40px; height: 40px;}
.reply-right{ float: left; width: 100%; }
.reply-right textarea{  resize: none; height: 70px;}
.btncover{ margin-top: 10px;}
.replay-item-list{ padding-left: 60px; }
.replayLift img{ width: 40px; height: 40px;}
.replayRigth h5{margin: 6px 0px!important;color:#777; font-size: 12px;}
.replayRigth h6{color:#777;font-size: 12px;}
.repcont{ margin-top: 6px;}
.replay-item-list-div{ margin-bottom: 15px;}
.operation_rep{ margin-top: 5px;}
.operation_rep span{ display: inline-block; font-size: 12px;margin-right:3px; border-right: 1px solid #c5c5c5 ;padding-right: 6px; line-height: 16px;}
.operation_rep span a{color: #00a0e9!important;padding: 0 3px}
.last_comment li:hover a{ color: #00a2d4!important; text-decoration: underline}
.last_comment li:hover i{color: #00a2d4!important;}