<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yelot.crm.mapper.AccountMapper">
    <resultMap id="accountResultMap" type="com.yelot.crm.entity.Account">
        <id property="id" column="id"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <result property="wxOpenid" column="wx_openid"/>
        <result property="wxNickname" column="wx_nickname"/>
        <result property="verifyCode" column="verify_code"/>
        <result property="sendMessageAt" column="send_message_at"/>
        <result property="accountNo" column="account_no"/>
        <result property="firstname" column="firstname"/>
        <result property="lastname" column="lastname"/>
        <result property="expressAddress" column="express_address"/>
        <result property="hobbyJson" column="hobby_json"/>
        <result property="createAt" column="create_at"/>
    </resultMap>


    <update id="update">
        update t_account set account_no = #{accountNo},firstname=#{firstname},lastname=#{lastname},
                express_address = #{expressAddress},express_address=#{expressAddress},hobby_json=#{hobbyJson},
                create_at = #{createAt}

         where id = #{id};
    </update>
    <select id="find" resultMap="accountResultMap">
        SELECT * from t_account where id = #{id} ;
    </select>

</mapper>