<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yelot.crm.mapper.CategoryAttributeMapper">
    <resultMap id="entityResultMap" type="com.yelot.crm.entity.CategoryAttribute">
        <id property="id" column="id"/>
        <result property="category_id" column="category_id"/>
        <result property="attribute_ids" column="attribute_ids"/>
    </resultMap>

    <select id="find" resultMap="entityResultMap">
        SELECT * from t_category_attribute where id = #{id};
    </select>

    <select id="findByCategoryId" resultMap="entityResultMap">
        SELECT * from t_category_attribute where category_id = #{categoryId};
    </select>

</mapper>