<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yelot.crm.mapper.ConsultOrderMapper">
    <resultMap id="orderResultMap" type="com.yelot.crm.entity.ConsultOrder">
        <id property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="customerName" column="customer_name"/>
        <result property="customerSex" column="customer_sex"/>
        <result property="customerPhone" column="customer_phone"/>
        <result property="customerAddress" column="customer_address"/>
        <result property="wechatNo" column="wechat_no"/>
        <result property="wechatNickname" column="wechat_nickname"/>
        <result property="channelSource" column="channel_source"/>
        <result property="repairCommands" column="repair_commands"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="firstCategoryName" column="first_category_name"/>
        <result property="secondCategoryName" column="second_category_name"/>
        <result property="brandId" column="brand_id"/>
        <result property="channelUrl" column="channel_url"/>
        <result property="keywords" column="keywords"/>
        <result property="priceLimit" column="price_limit"/>
        <result property="timeLimit" column="time_limit"/>
        <result property="qulityLimit" column="qulity_limit"/>
        <result property="specialCommands" column="special_commands"/>
        <result property="imagesPath" column="images_path"/>
        <result property="vistorAt" column="vistor_at"/>
        <result property="createAt" column="create_at"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="userName"/>
        <result property="expressNo" column="express_no"/>
        <result property="status" column="status"/>
        <result property="shopId" column="shop_id"/>
        <result property="bookShopId" column="book_shop_id"/>
        <result property="bookShopName" column="bookShopName"/>
        <result property="deliverType" column="deliver_type"/>
        <result property="comment" column="comment"/>

    </resultMap>
    
    <resultMap id="monthData" type="com.yelot.crm.entity.MonthData">
        <result property="month" column="month"/>
        <result property="number" column="number"/>
    </resultMap>

    <select id="find" resultMap="orderResultMap">
        SELECT * from t_consult_order where id = #{id};
    </select>
    
    <select id="countTotalPageAll" resultType="java.lang.Integer">
        SELECT count(*) 
        from t_consult_order co 
        LEFT JOIN t_user u on co.create_user_id = u.id 
        where 1 = 1
        <if test="startDate != null and startDate != ''">and co.create_at &gt;= #{startDate}</if>
        <if test="endDate != null and endDate != ''">and co.create_at &lt;= #{endDate}</if>
        <if test="createUserName != null and createUserName != ''">and u.realname like CONCAT('%', #{createUserName}, '%')</if>
        <if test="extra_search != null and extra_search != ''">
            and (co.customer_phone like CONCAT('%', #{extra_search}, '%') or co.wechat_no like CONCAT('%', #{extra_search}, '%'))
        </if>
        
    </select>
    
    <select id="findByPageAll" resultMap="orderResultMap">
        SELECT co.*,u.realname userName,s.name bookShopName 
        from t_consult_order co 
        LEFT JOIN t_user u on co.create_user_id = u.id 
        LEFT JOIN t_shop s on co.book_shop_id = s.id
        where 1 = 1
        <if test="startDate != null and startDate != ''">and co.create_at &gt;= #{startDate}</if>
        <if test="endDate != null and endDate != ''">and co.create_at &lt;= #{endDate}</if>
        <if test="createUserName != null and createUserName != ''">and u.realname like CONCAT('%', #{createUserName}, '%')</if>
        <if test="extra_search != null and extra_search != ''">
            and (co.customer_phone like CONCAT('%', #{extra_search}, '%') or co.wechat_no like CONCAT('%', #{extra_search}, '%'))
        </if>
        order by co.id DESC
        limit #{pageHelper.offset},#{pageHelper.size}

    </select>
    
    <select id="countTotalPageAllByPhone" resultType="java.lang.Integer">
        SELECT count(*) FROM t_consult_order
        where customer_phone = #{phone}
    </select>
    <select id="findByPageAllByPhone" resultMap="orderResultMap">
        SELECT co.*,u.realname userName,s.name bookShopName from t_consult_order co LEFT JOIN t_user u
        on co.create_user_id = u.id LEFT JOIN t_shop s on co.book_shop_id = s.id
        where customer_phone = #{phone}
        order by id DESC
        limit #{pageHelper.offset},#{pageHelper.size}

    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into t_consult_order(order_no,customer_name,customer_sex,customer_phone,customer_address,wechat_no,wechat_nickname,channel_source,repair_commands,
        province,city,brand_id,first_category_name,second_category_name,channel_url,keywords,price_limit,time_limit,
        qulity_limit,special_commands,images_path,vistor_at,create_at,create_user_id,express_no,status,shop_id,book_shop_id,
        deliver_type,comment)
        VALUES (#{orderNo},#{customerName},#{customerSex},#{customerPhone},#{customerAddress},#{wechatNo},#{wechatNickname},#{channelSource},#{repairCommands},#{province},#{city},
        #{brandId},#{firstCategoryName},#{secondCategoryName},#{channelUrl},#{keywords},#{priceLimit},#{timeLimit},#{qulityLimit},
        #{specialCommands},#{imagesPath},#{vistorAt},#{createAt},#{createUserId},#{expressNo},#{status},#{shopId},#{bookShopId},
        #{deliverType},#{comment});

    </insert>

    <update id="update">
        update t_consult_order set customer_name = #{customerName},customer_sex=#{customerSex},customer_phone=#{customerPhone},
               customer_address=#{customerAddress},wechat_no=#{wechatNo},wechat_nickname=#{wechatNickname},channel_source=#{channelSource},repair_commands=#{repairCommands},
               province=#{province},city=#{city},brand_id=#{brandId},first_category_name=#{firstCategoryName},second_category_name=#{secondCategoryName},
               book_shop_id=#{bookShopId},channel_url=#{channelUrl},keywords=#{keywords},price_limit=#{priceLimit},time_limit=#{timeLimit},qulity_limit=#{qulityLimit},
               special_commands=#{specialCommands},images_path=#{imagesPath},vistor_at=#{vistorAt},express_no=#{expressNo},
               deliver_type=#{deliverType},comment=#{comment}
         where id = #{id};
    </update>

    <update id="updateStatus">
        update t_consult_order set status = #{status} where id = #{id}
    </update>
    
    <select id="findByMonth" resultMap="monthData">
        select month(create_at) month,count(*) number from t_consult_order where YEAR(create_at) = YEAR(now())
         <if test="userId != null and userId != ''">
             and create_user_id = #{userId}
         </if>
        <if test="firstCategoryName != null and firstCategoryName != ''">
           AND first_category_name = #{firstCategoryName}
        </if>
        <if test="shopId != null and shopId != ''">
            AND shop_id = #{shopId}
        </if>
         group by MONTH(create_at)
    </select>

</mapper>