<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yelot.crm.mapper.CustomImagesMapper">
	<resultMap id="customImagesResultMap" type="com.yelot.crm.entity.CustomImages">
		<id property="id" column="id" />
		<result property="orderId" column="order_id" />
		<result property="imagesJson" column="images_json" />
		<result property="imagesDesc" column="images_desc" />
		<result property="updateUserId" column="update_user_id" />
		<result property="updateUserName" column="update_user_name" />
		<result property="updateAt" column="update_at" />
	</resultMap>
    
    <select id="findByOrderId" resultMap="customImagesResultMap">
        select t.*,t1.realname update_user_name
        from t_custom_images t, t_user t1
        where order_id = #{orderId} and t.update_user_id = t1.id
        order by update_at
    </select>
    
    <insert id="saveCustomImages" parameterType="com.yelot.crm.entity.CustomImages">
        insert into t_custom_images(order_id, images_json, images_desc, update_user_id, update_at) 
        values(#{orderId}, #{imagesJson}, #{imagesDesc}, #{updateUserId}, #{updateAt})
    </insert>

</mapper>