<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yelot.crm.mapper.CustomerMapper">
    <resultMap id="customerResultMap" type="com.yelot.crm.entity.Customer">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="address" column="address"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <result property="qq" column="qq"/>
        <result property="wechatId" column="wechat_id"/>
        <result property="wechatNickname" column="wechat_nickname"/>
        <result property="deviceName" column="device_name"/>
        <result property="comment" column="comment"/>
        <result property="channelSource" column="channel_source"/>
        <result property="type" column="type"/>
        <result property="firstConsultAt" column="first_consult_at"/>
        <result property="is_alive" column="is_alive"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="createUserId" column="create_user_id"/>
    </resultMap>

    <!--<sql id="customerBasicMap">-->
        <!--id, name, phone,province,city,address,sex,email,qq,wechat_id,wechat_nickname,device_name,comment,channel_source,-->
         <!--first_consult_at,is_alive,create_at, update_at,create_user_id-->
    <!--</sql>-->

    <select id="find" resultMap="customerResultMap">
        select * from t_customer where id = #{id}
    </select>

    <select id="findBySearch" resultMap="customerResultMap">
        select * from t_customer where is_alive = 1
        <if test="extra_search != null and extra_search != ''">
            and (name like CONCAT('%', #{extra_search}, '%') OR phone like CONCAT('%', #{extra_search}, '%'))
        </if>
        ORDER BY id DESC
        limit #{pageHelper.offset},#{pageHelper.size} ;
    </select>

    <select id="findByPhone" resultMap="customerResultMap">
        SELECT * FROM t_customer where phone = #{phone} and is_alive = 1
    </select>



    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into t_customer(name, phone,province,city,address,sex,email,qq,wechat_id,wechat_nickname,device_name,comment,
        channel_source,type,first_consult_at,is_alive,create_at, update_at,create_user_id)
            values(#{name},#{phone},#{province},#{city},#{address},#{sex},#{email},#{qq},#{wechatId},#{wechatNickname},
            #{deviceName},#{comment},#{channelSource},#{type},#{firstConsultAt},#{is_alive},#{createAt},#{updateAt},#{createUserId})
    </insert>

    <update id="updateCustomer" parameterType="com.yelot.crm.entity.Customer">
        update t_customer SET
        <trim suffix="" suffixOverrides=",">
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="province!=null">
                province=#{province},
            </if>
            <if test="city!=null">
                city=#{city},
            </if>
            <if test="address!=null">
                address=#{address},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="qq!=null">
                qq=#{qq},
            </if>
            <if test="wechatId!=null">
                wechat_id=#{wechatId},
            </if>
            <if test="wechatNickname!=null">
                wechat_nickname=#{wechatNickname},
            </if>
            <if test="deviceName!=null">
                device_name=#{deviceName},
            </if>
            <if test="comment!=null">
                comment=#{comment},
            </if>
            <if test="channelSource!=null">
                channel_source=#{channelSource},
            </if>
            <if test="type!=null">
                type=#{type},
            </if>
            <if test="firstConsultAt!=null">
                first_consult_at=#{firstConsultAt}
            </if>

        </trim>
        WHERE id=#{id}

    </update>




</mapper>