<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yelot.crm.mapper.RolePrivilegeMapper">

    <resultMap id="rolePrivilegeBasicMap" type="com.yelot.crm.entity.RolePrivilegeRef">
        <id column="nid" property="id"/>
        <association property="privilege" javaType="com.yelot.crm.entity.Privilege">
            <id column="privilege_id" property="id"/>
        </association>
        <association property="role" javaType="com.yelot.crm.entity.Role">
            <id column="role_id" property="id"/>
        </association>
        <collection property="createAt" column="create_at"/>
        <collection property="updateAt" column="update_at"/>
    </resultMap>

    <insert id="insert"
            parameterType="com.yelot.crm.entity.RolePrivilegeRef">
        INSERT t_role_privilege
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                nid,
            </if>
            <if test="privilege != null">
                privilege_id,
            </if>
            <if test="role != null">
                role_id,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="privilege != null">
                #{privilege.id},
            </if>
            <if test="role != null">
                #{role.id},
            </if>
            <if test="createAt != null">
                #{createAt},
            </if>
            <if test="updateAt != null">
                #{updateAt},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.yelot.crm.entity.RolePrivilegeRef">
        UPDATE t_role_privilege SET
        <trim suffix="" suffixOverrides=",">
            <if test="privilege!=null">
                privilege_id=#{privilege.id},
            </if>
            <if test="role!=null">
                role_id=#{role.id},
            </if>
            <if test="createAt!=null">
                create_at=#{createAt},
            </if>
            <if test="updateAt==null">
                update_at=#{updateAt},
            </if>
        </trim>
        WHERE nid=#{id}
    </update>


    <delete id="deleteByRoleId">
        DELETE FROM t_role_privilege
        WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteByPrivilegeId">
        DELETE FROM t_role_privilege
        WHERE privilege_id = #{privilegeId}
    </delete>

</mapper>