<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yelot.crm.mapper.RptRepairOrderMapper">
    <resultMap id="rptRrderResultMap" type="com.yelot.crm.entity.RptRepairOrder">
        <id property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="pickupAt" column="pickup_at"/>
        <result property="pickupType" column="pickup_type"/>
        <result property="customerId" column="customer_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="customerPhone" column="customer_phone"/>
        <result property="customerSex" column="customer_sex"/>
        <result property="customerPhoneSecond" column="customer_phone_second"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="customerAddress" column="customer_address"/>
        <result property="wechatNickname" column="wechat_nickname"/>
        <result property="wechatId" column="wechat_id"/>
        <result property="customerQQ" column="customer_qq"/>
        <result property="customerType" column="customer_type"/>
        <result property="channelSource" column="channel_source"/>
        <result property="advancePayment" column="advance_payment"/>
        <result property="nonPayment" column="non_payment"/>
        <result property="advancePaymentType" column="advance_payment_type"/>
        <result property="totalPayment" column="total_payment"/>
        <result property="shopId" column="shop_id"/>
        <result property="shopName" column="shop_name"/>
        <result property="imagesJson" column="images_json"/>
        <result property="productInfoJson" column="product_info_json"/>
        <result property="serviceItemIds" column="service_item_ids"/>
        <result property="imageDesc" column="image_desc"/>
        <result property="firstCategoryId" column="first_category_id"/>
        <result property="secondCategoryId" column="second_category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="firstCategoryName" column="first_category_name"/>
        <result property="secondCategoryName" column="second_category_name"/>
        <result property="brandId" column="brand_id"/>
        <result property="brandName" column="brand_name"/>
        <result property="repairDesc" column="repair_desc"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="precheckImages" column="precheck_images"/>
        <result property="qccheckImages" column="qccheck_images"/>
        <result property="typeName" column="type_name"/>
        <result property="labourPayment" column="labour_payment"/>
        <result property="materialPayment" column="material_payment"/>
        <result property="discountAmountPayment" column="discount_amount_payment"/>
        <result property="consultCreateAt" column="consult_create_at"/>
        <result property="consultCreateUserName" column="consult_create_user_name"/>
        <result property="deliverType" column="deliver_type"/>
    </resultMap>
    
    <select id="countTotalPage" resultType="java.lang.Integer">
        select count(*)
		  from t_repair_order t
		  left join t_category t1 on t.first_category_id = t1.id
		  left join t_category t2 on t.second_category_id = t2.id
		  left join t_shop t3 on t.shop_id = t3.id
		  left join t_user t4 on t.create_user_id = t4.id
		  left join t_brand t5 on t.brand_id = t5.id
		  left join t_customer t6 on t.customer_id = t6.id
		  left join t_consult_order t7 on t.consult_order_id = t7.id
		  left join t_user t8 on t7.create_user_id = t8.id
		 where 1 = 1
        <if test="startDate != null and startDate != ''">and t.create_at &gt;= #{startDate}</if>
        <if test="endDate != null and endDate != ''">and t.create_at &lt;= #{endDate}</if>
        <if test="shopId != null and shopId != ''">and t.shop_id = #{shopId}</if>
        <if test="firstCategory != null and firstCategory != ''">and t1.name = #{firstCategory}</if>
        <if test="secondCategory != null and secondCategory != ''">and t2.name = #{secondCategory}</if>
        <if test="onLineUser != null and onLineUser != ''">and t7.create_user_id = #{onLineUser}</if>
        <if test="shopUser != null and shopUser != ''">and t.create_user_id = #{shopUser}</if>
        <if test="deliverType != null and deliverType != ''">and t7.deliver_type = #{deliverType}</if>
        <if test="customerType != null and customerType != ''">and t6.type = #{customerType}</if>
        <if test="channelSource != null and channelSource != ''">and t7.channel_source = #{channelSource}</if>
        <if test="status != null and status.size > 0">and t.status in 
        	<foreach item="item" index="index" collection="status" open="(" separator="," close=")">  
                #{item}
            </foreach>
        </if>
    </select>
    
    <select id="findByPage" resultMap="rptRrderResultMap">
        select t3.name shop_name,
		       t.create_at,
		       t.order_no,
		       t.pickup_at,
		       t8.realname consult_create_user_name,
		       t4.realname create_user_name,
		       t7.deliver_type,
		       t.status,
		       t5.name brand_name,
		       t1.name first_category_name,
		       t2.name second_category_name,
		       t.service_item_ids,
		       t.repair_desc,
		       t.total_payment,
		       t.material_payment,
		       t.discount_amount_payment,
		       t.advance_payment,
		       t.customer_name,
		       case t6.sex when '0' then '女' when '1' then '男' end customer_sex,
		       t.customer_phone,
		       t6.province,
		       t6.city,
		       t.customer_address,
		       t6.wechat_nickname,
		       t6.wechat_id,
		       t6.qq customer_qq,
		       case t6.type when '0' then '新客户' when '1' then '老客户' end customer_type,
		       t6.channel_source,
		       t7.create_at consult_create_at
		  from t_repair_order t
		  left join t_category t1 on t.first_category_id = t1.id
		  left join t_category t2 on t.second_category_id = t2.id
		  left join t_shop t3 on t.shop_id = t3.id
		  left join t_user t4 on t.create_user_id = t4.id
		  left join t_brand t5 on t.brand_id = t5.id
		  left join t_customer t6 on t.customer_id = t6.id
		  left join t_consult_order t7 on t.consult_order_id = t7.id
		  left join t_user t8 on t7.create_user_id = t8.id
		 where 1 = 1
        <if test="startDate != null and startDate != ''">and t.create_at &gt;= #{startDate}</if>
        <if test="endDate != null and endDate != ''">and t.create_at &lt;= #{endDate}</if>
        <if test="shopId != null and shopId != ''">and t.shop_id = #{shopId}</if>
        <if test="firstCategory != null and firstCategory != ''">and t1.name = #{firstCategory}</if>
        <if test="secondCategory != null and secondCategory != ''">and t2.name = #{secondCategory}</if>
        <if test="onLineUser != null and onLineUser != ''">and t7.create_user_id = #{onLineUser}</if>
        <if test="shopUser != null and shopUser != ''">and t.create_user_id = #{shopUser}</if>
        <if test="deliverType != null and deliverType != ''">and t7.deliver_type = #{deliverType}</if>
        <if test="customerType != null and customerType != ''">and t6.type = #{customerType}</if>
        <if test="channelSource != null and channelSource != ''">and t7.channel_source = #{channelSource}</if>
        <if test="status != null and status.size > 0">and t.status in 
        	<foreach item="item" index="index" collection="status" open="(" separator="," close=")">  
                #{item}
            </foreach>
        </if>
        order by t.id desc 
        limit #{pageHelper.offset},#{pageHelper.size} 
    </select>

    <select id="findServiceItemName" resultType="String">
        SELECT name from t_service_item where id = #{id};
    </select>
</mapper>